$white: #fff;


.list {
  position: absolute;
  margin: 0 0 0 10px;
  width: fit-content;
  box-shadow: #e3d7d7 1px 1px 0 0;
  border-radius: 5px;
  padding: 16px;
  z-index: 1;
  background-color: $white;
}

.list > ul {
  list-style-type: none;
  background-color: $white;
  padding-inline-start: 8px;
  z-index: 99999999;
  &:hover {
    cursor: pointer;
  }
}

.list > ul > li {
  width: 30%;
  margin: 8px;
  border-bottom: 1px solid #ccc;
}