$default-padding: 24px;

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $default-padding $default-padding 0 $default-padding;
  .functions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
  }
}

.status {
  background-color: #d6d6ee;
  font-style: italic;
  font-weight: bold;
}
.filter {
    margin-left: 18px;
    color: #0367a6;
}