$white: #e9e9e9;
$gray: #333;
$blue: #0367a6;
$lightblue: #008997;
$error: #e32a36;

.form {
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 3rem;
  height: 100%;
  text-align: center;
}

.form > h1 {
  font-weight: 300;
  margin: 0 0 1.25rem;
}

.form > input {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  padding: 0.9rem 0.9rem;
  margin: 0.5rem 0;
  width: 100%;
}

.btn {
  background-color: $lightblue;
  border-radius: 20px;
  border: 1px solid var(--blue);
  color: $white;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  padding: 0.9rem 4rem;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin-top: 1.5rem;
}

.btn:active {
  transform: scale(0.95);
}

.btn:focus {
  outline: none;
}

.create {
  float: right;
  font-size: 18px;
  cursor: pointer;
  color: black;
  padding: 8px 8px;
  font-weight: 500;
  line-height: 12px;
  border-radius: 8px;
  border: 1px solid #2E2E2E;

  &:hover {
    background-color: #2E2E2E;
    color: white;
  }
}

.error {
  color: $error;
  margin: 0 0 0 0;
  font-size: 16px;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}
